/* line 2, ../scss/style.scss */
.container {
  max-width: 1560px;
  outline: 1px solid pink;
  margin: 0 auto;
}

/* line 8, ../scss/style.scss */
body {
  margin: 0;
}

/* line 12, ../scss/style.scss */
.header {
  color: #ffffff;
  text-transform: uppercase;
  background-image: url(../../img/headercover_1920x1082.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 19, ../scss/style.scss */
.header__wrapper {
  background-color: rgba(10, 14, 52, 0.9);
}

/* line 24, ../scss/style.scss */
.row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 31, ../scss/style.scss */
.row-header__text {
  font-family: "Proxima Nova-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.46;
  letter-spacing: 0.7px;
  margin-right: 15px;
  color: #ffffff;
}

/* line 44, ../scss/style.scss */
.promo {
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  margin-top: 325px;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 4.5px;
  position: relative;
  color: #ffffff;
}
/* line 54, ../scss/style.scss */
.promo::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 406px;
  transform: rotate(35deg);
  display: block;
  background-color: #5d40ad;
  left: 33%;
  top: -100%;
}
/* line 65, ../scss/style.scss */
.promo__part1 {
  text-align: left;
  line-height: 0.35;
  position: relative;
  z-index: 1;
  margin-left: 15px;
}
/* line 72, ../scss/style.scss */
.promo__part2 {
  margin-top: 29px;
  text-align: right;
  line-height: 1.11;
  margin-right: 15px;
}

/* line 81, ../scss/style.scss */
.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* line 88, ../scss/style.scss */
.main-nav__item {
  margin: 0;
  list-style: none;
  margin-right: 45px;
}
/* line 92, ../scss/style.scss */
.main-nav__item:last-child {
  margin-right: 15px;
}
/* line 96, ../scss/style.scss */
.main-nav__link {
  font-family: "Proxima Nova-Regular", Arial, sans-serif;
  color: #9071ea;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.46;
  letter-spacing: 0.7px;
  text-align: left;
}
/* line 107, ../scss/style.scss */
.main-nav__link:hover {
  color: #ffffff;
}

/* line 113, ../scss/style.scss */
.download {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  margin-top: 165px;
}
/* line 118, ../scss/style.scss */
.download__link {
  margin-right: 50px;
}
/* line 120, ../scss/style.scss */
.download__link:last-child {
  margin-right: 0;
}

/* line 126, ../scss/style.scss */
.button-link {
  font-family: "Proxima Nova-Light", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.7px;
  text-align: left;
  color: #ffffff;
  padding: 21px 98px 19px 47px;
  border-radius: 40px;
  background-color: #5e42b0;
  box-shadow: 0px 16px 24px 0 #0a0e34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
/* line 144, ../scss/style.scss */
.button-link:hover {
  color: #0a0e34;
}
/* line 147, ../scss/style.scss */
.button-link__icon {
  width: 38px;
  height: 38px;
  fill: #ffffff;
}
/* line 151, ../scss/style.scss */
.button-link__icon:hover {
  fill: #0a0e34;
}
/* line 155, ../scss/style.scss */
.button-link__wrapper {
  margin-left: 26px;
}
/* line 158, ../scss/style.scss */
.button-link__part1 {
  display: block;
}
/* line 161, ../scss/style.scss */
.button-link__part2 {
  display: block;
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 1140px) {
  /* line 169, ../scss/style.scss */
  .row-header {
    padding-top: 53px;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* line 174, ../scss/style.scss */
  .promo {
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 3.2px;
    margin-top: 194px;
  }
  /* line 181, ../scss/style.scss */
  .promo__part1 {
    margin-left: 89px;
    line-height: 0.49;
  }
  /* line 185, ../scss/style.scss */
  .promo__part2 {
    position: relative;
    text-align: left;
    line-height: normal;
    margin-left: 197px;
    margin-right: 0;
    z-index: 1;
  }
  /* line 193, ../scss/style.scss */
  .promo::before {
    position: absolute;
    content: "";
    left: 50%;
    top: -50%;
    z-index: 0;
  }

  /* line 201, ../scss/style.scss */
  .main-nav {
    margin-top: 180px;
  }
  /* line 203, ../scss/style.scss */
  .main-nav__list {
    justify-content: space-around;
  }
  /* line 206, ../scss/style.scss */
  .main-nav__item {
    margin-right: 25px;
    margin-left: 25px;
  }
  /* line 210, ../scss/style.scss */
  .main-nav__link {
    font-size: 16px;
    line-height: 2.16;
    letter-spacing: 0.8px;
  }

  /* line 216, ../scss/style.scss */
  .download {
    margin-top: 115px;
    padding-bottom: 91px;
  }
  /* line 219, ../scss/style.scss */
  .download__link {
    margin-right: 30px;
  }
  /* line 221, ../scss/style.scss */
  .download__link:last-child {
    margin-right: 0;
  }

  /* line 226, ../scss/style.scss */
  .button-link {
    box-shadow: 8px 13.9px 24px 0 #0a0e34;
  }
}
@media screen and (max-width: 767px) {
  /* line 232, ../scss/style.scss */
  .row-header {
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    padding-top: 39px;
  }
  /* line 237, ../scss/style.scss */
  .row-header__text {
    display: none;
  }

  /* line 241, ../scss/style.scss */
  .promo {
    margin-top: 141px;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
  }
  /* line 247, ../scss/style.scss */
  .promo__part1 {
    margin-left: 10px;
    line-height: 0.98;
    letter-spacing: 1.6px;
  }
  /* line 252, ../scss/style.scss */
  .promo__part2 {
    margin-top: 28px;
    margin-left: 65px;
    margin-right: 0;
    line-height: normal;
    letter-spacing: 1.6px;
  }
  /* line 259, ../scss/style.scss */
  .promo::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 227px;
    left: 50%;
    top: -42%;
    z-index: 0;
  }

  /* line 269, ../scss/style.scss */
  .main-nav {
    margin-top: 45px;
    padding-bottom: 20px;
  }
  /* line 272, ../scss/style.scss */
  .main-nav__list {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  /* line 276, ../scss/style.scss */
  .main-nav__item {
    margin-right: 15px;
    margin-left: 15px;
  }
  /* line 280, ../scss/style.scss */
  .main-nav__link {
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  /* line 288, ../scss/style.scss */
  .download {
    padding-bottom: 0;
    margin-top: 118px;
  }
  /* line 291, ../scss/style.scss */
  .download--footer {
    margin-top: 72px;
  }
  /* line 294, ../scss/style.scss */
  .download__link {
    margin-right: 8px;
  }
  /* line 296, ../scss/style.scss */
  .download__link:last-child {
    margin-right: 0;
  }

  /* line 301, ../scss/style.scss */
  .button-link {
    font-size: 8px;
    line-height: normal;
    letter-spacing: 0.4px;
    padding: 11px 20px 10px 25px;
    border-radius: 24px;
    box-shadow: 0px 10px 16px 0 #0a0e34;
  }
  /* line 308, ../scss/style.scss */
  .button-link__icon {
    width: 18px;
    height: 18px;
  }
  /* line 312, ../scss/style.scss */
  .button-link__wrapper {
    margin-left: 10px;
  }

  /* line 316, ../scss/style.scss */
  .header-wrapper-mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}
/* line 322, ../scss/style.scss */
.card {
  position: relative;
  outline: 1px solid red;
}
/* line 327, ../scss/style.scss */
.card__img--athlets {
  position: absolute;
  outline: 1px solid green;
  background-image: url(../img/footballer_678x950.png);
  top: 20px;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  overflow: hidden;
  display: block;
}
/* line 344, ../scss/style.scss */
.card__img--players {
  position: absolute;
  outline: 1px solid green;
  background-image: url(../img/player_991x815.png);
  top: -20px;
  right: 5%;
  height: 100%;
  width: 50%;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center left;
  overflow: hidden;
  background-size: contain;
  display: block;
}
/* line 364, ../scss/style.scss */
.card__title {
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: #e7e7e7;
  margin: 0;
  padding-top: 60px;
  margin-left: 46px;
  padding-left: 50%;
  padding-right: 30px;
  position: relative;
}
/* line 381, ../scss/style.scss */
.card__title--players {
  padding-left: 78px;
}

/* line 387, ../scss/style.scss */
.row {
  position: relative;
  z-index: -1;
  width: 100%;
}
/* line 391, ../scss/style.scss */
.row__wrapper {
  max-width: 50%;
  padding-left: 50%;
  padding-right: 145px;
  padding-top: 65px;
  padding-bottom: 60px;
}
/* line 397, ../scss/style.scss */
.row__wrapper--players {
  padding-top: 65px;
  padding-bottom: 60px;
  padding-right: 895px;
  padding-left: 100px;
}
/* line 404, ../scss/style.scss */
.row--players {
  padding-right: 0;
}
/* line 406, ../scss/style.scss */
.row--players.row--three {
  background-color: #090c35;
}
/* line 410, ../scss/style.scss */
.row--one {
  background-color: #ffffff;
}
/* line 413, ../scss/style.scss */
.row--two {
  background-color: rgba(94, 66, 176, 0.06);
}
/* line 416, ../scss/style.scss */
.row--three {
  background-color: #5e42b0;
}
/* line 419, ../scss/style.scss */
.row__title {
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: 1.8px;
  text-align: left;
  color: #c1c1c1;
  margin: 0;
  position: relative;
  padding-left: 32px;
  margin-left: 46px;
}
/* line 435, ../scss/style.scss */
.row__title_number {
  position: absolute;
  top: -6px;
  left: 0px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.92;
  letter-spacing: 0.9px;
  text-align: center;
  color: #000000;
  display: block;
}
/* line 448, ../scss/style.scss */
.row__title_number--three--players {
  color: #9173e6;
}
/* line 451, ../scss/style.scss */
.row__title_number::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -9.5px;
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
  background-size: 19px 5px;
  display: block;
}
/* line 464, ../scss/style.scss */
.row__title_number--three--athlets::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -9.5px;
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  background-size: 19px 5px;
  display: block;
}
/* line 477, ../scss/style.scss */
.row__title_number--three--players::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -9.5px;
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  background-size: 19px 5px;
  display: block;
}
/* line 492, ../scss/style.scss */
.row__description {
  position: relative;
  font-family: "Proxima Nova-Regular", Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-top: 31px;
  margin-left: 46px;
}
/* line 507, ../scss/style.scss */
.row__description--three {
  color: #ffffff;
}

/* line 513, ../scss/style.scss */
.slider__controls {
  display: none;
}

@media screen and (max-width: 1440px) {
  /* line 520, ../scss/style.scss */
  .card__title {
    margin: 0;
    margin-top: 85px;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 38%;
    padding-right: 48px;
  }
  /* line 527, ../scss/style.scss */
  .card__title--players {
    margin: 0;
    margin-top: 85px;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 48px;
    padding-right: 38%;
  }

  /* line 538, ../scss/style.scss */
  .row__wrapper {
    padding: 0;
    padding-left: 38%;
    max-width: 62%;
  }
  /* line 542, ../scss/style.scss */
  .row__wrapper--players {
    padding: 0;
    padding-right: 38%;
    margin: 0;
  }
  /* line 548, ../scss/style.scss */
  .row__title {
    margin: 0;
    padding: 0;
    padding-top: 41px;
    padding-left: 32px;
    padding-right: 48px;
  }
  /* line 554, ../scss/style.scss */
  .row__title--players {
    margin: 0;
    padding: 0;
    padding-top: 41px;
    padding-right: 48px;
    margin-left: 48px;
    padding-left: 32px;
  }
  /* line 562, ../scss/style.scss */
  .row__title_number {
    top: 35px;
  }
  /* line 566, ../scss/style.scss */
  .row__description {
    margin: 0;
    margin-top: 32px;
    padding-left: 0px;
    padding-right: 48px;
    padding-bottom: 40px;
    font-size: 18px;
  }
  /* line 573, ../scss/style.scss */
  .row__description--players {
    margin: 0;
    margin-top: 32px;
    padding: 0;
    padding-left: 48px;
    padding-bottom: 40px;
  }

  /* line 582, ../scss/style.scss */
  .slider__controls {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 589, ../scss/style.scss */
  .card__title {
    font-size: 50px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    margin-top: 26px;
    padding-left: 19px;
    padding-right: 19px;
  }

  /* line 600, ../scss/style.scss */
  .row__wrapper {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  /* line 604, ../scss/style.scss */
  .row__wrapper--players {
    padding-right: 0;
  }
  /* line 608, ../scss/style.scss */
  .row--one {
    background-color: rgba(94, 66, 176, 0.06);
  }
  /* line 611, ../scss/style.scss */
  .row--two {
    background-color: rgba(94, 66, 176, 0.06);
  }
  /* line 614, ../scss/style.scss */
  .row--three {
    background-color: rgba(94, 66, 176, 0.06);
  }
  /* line 618, ../scss/style.scss */
  .row--players.row--three {
    background-color: rgba(94, 66, 176, 0.06);
  }
  /* line 622, ../scss/style.scss */
  .row__title {
    font-size: 28px;
    line-height: 1.23;
    letter-spacing: 1.4px;
    margin: 0;
    padding: 0;
    margin-top: 245px;
    padding-top: 81px;
    padding-left: 30px;
    margin-left: 19px;
    margin-right: 19px;
  }
  /* line 633, ../scss/style.scss */
  .row__title_number {
    font-size: 14px;
    line-height: 2.46;
    letter-spacing: 0.7px;
    top: 77px;
    bottom: 8px;
  }
  /* line 639, ../scss/style.scss */
  .row__title_number::before {
    height: 4px;
    border-radius: 1.5px;
  }
  /* line 643, ../scss/style.scss */
  .row__title_number--three--players {
    color: #000000;
  }
  /* line 646, ../scss/style.scss */
  .row__title_number--three--athlets::before {
    background-color: #5e42b0;
  }
  /* line 649, ../scss/style.scss */
  .row__title_number--three--players::before {
    background-color: #5e42b0;
  }
  /* line 654, ../scss/style.scss */
  .row__description {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.8px;
    margin: 0;
    padding: 0;
    padding-bottom: 73px;
    padding-left: 19px;
    padding-right: 19px;
  }
  /* line 663, ../scss/style.scss */
  .row__description--players {
    padding-left: 19px;
    padding-right: 19px;
  }
  /* line 667, ../scss/style.scss */
  .row__description--three {
    color: #000000;
  }

  /* line 672, ../scss/style.scss */
  .card--athlets .row--one {
    display: none;
  }

  /* line 675, ../scss/style.scss */
  .card--athlets .row--three {
    display: none;
  }

  /* line 678, ../scss/style.scss */
  .card--players .row--one {
    display: none;
  }

  /* line 681, ../scss/style.scss */
  .card--players .row--two {
    display: none;
  }

  /* line 684, ../scss/style.scss */
  .slider__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -33px;
  }

  /* line 696, ../scss/style.scss */
  .radio__label {
    font-size: 0;
  }
  /* line 699, ../scss/style.scss */
  .radio__row {
    display: none;
  }
  /* line 701, ../scss/style.scss */
  .radio__row:checked + .radio__label::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #5c3caf;
    background-size: 10px 10px;
    border-radius: 50%;
    display: block;
    margin-left: 12px;
  }
  /* line 714, ../scss/style.scss */
  .radio__label:hover {
    cursor: pointer;
  }
  /* line 717, ../scss/style.scss */
  .radio__label::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #d8d8d8;
    background-size: 10px 10px;
    border-radius: 50%;
    display: block;
    margin-left: 12px;
  }
}
/* line 731, ../scss/style.scss */
.foto {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 737, ../scss/style.scss */
.foto__wrap {
  display: flex;
  justify-content: space-between;
}
/* line 740, ../scss/style.scss */
.foto__wrap:nth-child(2n) {
  display: flex;
  flex-direction: row-reverse;
}
/* line 743, ../scss/style.scss */
.foto__wrap:nth-child(2n) .foto__description__title__number {
  right: -80px;
  left: auto;
}
/* line 749, ../scss/style.scss */
.foto__description {
  width: 50%;
}
/* line 751, ../scss/style.scss */
.foto__description__title {
  position: relative;
  font-family: "Proxima Nova", Arial, sans-serif;
  margin: 0;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: rgba(193, 193, 193, 0.4);
  margin-top: 257px;
  max-width: 300px/1920px/2%;
  padding-left: 150px;
  text-transform: uppercase;
}
/* line 767, ../scss/style.scss */
.foto__description__title__number {
  position: absolute;
  top: -45px;
  left: -80px;
  padding: 70px;
  background-color: #5e42b0;
  background-position: center center;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 1.2px;
  text-align: center;
  color: #f5f6f7;
}
/* line 783, ../scss/style.scss */
.foto__description__title__number::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 5px;
  opacity: 0.3;
  border-radius: 2px;
  background-color: #ffffff;
  top: 113.56px;
  left: 50%;
  margin: -11px;
  display: block;
}
/* line 798, ../scss/style.scss */
.foto__description__text {
  font-family: "Proxima Nova", Arial, sans-serif;
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 1.2px;
  text-align: left;
  color: #000000;
  margin-top: 119px;
  padding-bottom: 250px;
  padding-left: 150px;
  padding-right: 300px;
}
/* line 815, ../scss/style.scss */
.foto--one {
  background-image: url(../../img/beactive_960x730.png);
}
/* line 818, ../scss/style.scss */
.foto--two {
  background-image: url(../../img/findcontact_960x730.png);
}
/* line 821, ../scss/style.scss */
.foto--three {
  background-image: url(../../img/workit_960x730.png);
}

@media screen and (max-width: 1440px) {
  /* line 828, ../scss/style.scss */
  .foto {
    width: 100%;
  }
  /* line 830, ../scss/style.scss */
  .foto__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 834, ../scss/style.scss */
  .foto__wrap:nth-child(2n) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 838, ../scss/style.scss */
  .foto__wrap:nth-child(2n) .foto__description__title__number {
    right: auto;
    left: auto;
  }
  /* line 844, ../scss/style.scss */
  .foto__description {
    width: 100%;
  }
  /* line 846, ../scss/style.scss */
  .foto__description__title {
    margin: 0;
    padding: 0;
    margin-top: 90px;
    margin-left: 33px;
    margin-right: 33px;
    max-width: auto;
  }
  /* line 853, ../scss/style.scss */
  .foto__description__title__number {
    padding: 40.72px;
    top: -184.28px;
    left: 0;
  }
  /* line 857, ../scss/style.scss */
  .foto__description__title__number::after {
    top: 84.28px;
  }
  /* line 862, ../scss/style.scss */
  .foto__description__text {
    margin: 0;
    padding: 0;
    margin-top: 36px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 110px;
  }
  /* line 871, ../scss/style.scss */
  .foto--one {
    min-height: 584px;
  }
  /* line 874, ../scss/style.scss */
  .foto--two {
    min-height: 584px;
  }
  /* line 877, ../scss/style.scss */
  .foto--three {
    min-height: 584px;
  }
}
@media screen and (max-width: 767px) {
  /* line 884, ../scss/style.scss */
  .foto {
    width: 100%;
  }
  /* line 886, ../scss/style.scss */
  .foto__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 890, ../scss/style.scss */
  .foto__wrap:nth-child(2n) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 894, ../scss/style.scss */
  .foto__wrap:nth-child(2n) .foto__description__title__number {
    right: auto;
    left: auto;
  }
  /* line 900, ../scss/style.scss */
  .foto__description {
    width: 100%;
  }
  /* line 902, ../scss/style.scss */
  .foto__description__title {
    font-size: 28px;
    line-height: 1.23;
    letter-spacing: 1.4px;
    color: #e7e7e7;
    margin: 0;
    padding: 0;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: auto;
  }
  /* line 913, ../scss/style.scss */
  .foto__description__title__number {
    font-size: 14px;
    line-height: 2.46;
    letter-spacing: 0.7px;
    padding: 9.78px 24px 14.78px 24px;
    top: -80px;
    left: 0;
  }
  /* line 920, ../scss/style.scss */
  .foto__description__title__number::after {
    width: 16px;
    height: 4px;
    top: 44px;
    margin: -8px;
  }
  /* line 928, ../scss/style.scss */
  .foto__description__text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.8px;
    margin: 0;
    padding: 0;
    margin-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
  }
  /* line 940, ../scss/style.scss */
  .foto--one {
    min-height: 351px;
  }
  /* line 943, ../scss/style.scss */
  .foto--two {
    min-height: 351px;
  }
  /* line 946, ../scss/style.scss */
  .foto--three {
    min-height: 351px;
  }
}
/* line 952, ../scss/style.scss */
.footer {
  font-family: "Proxima Nova", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url("../../img/footercover_2500x1275.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 960, ../scss/style.scss */
.footer__wrapper {
  background-color: rgba(10, 14, 52, 0.9);
}
/* line 963, ../scss/style.scss */
.footer__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
/* line 968, ../scss/style.scss */
.footer__promo::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 137px;
  display: block;
  background-image: url(../../img/artwork_130x137.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 130px 137px;
  bottom: 0;
  left: 16%;
}
/* line 981, ../scss/style.scss */
.footer__promo__part1 {
  margin-top: 247px;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: 4.5px;
  text-align: left;
  color: #ffffff;
  position: relative;
  z-index: 2;
}
/* line 993, ../scss/style.scss */
.footer__promo__part1::before {
  content: "";
  position: absolute;
  display: block;
  top: -95%;
  left: 12%;
  z-index: -1;
  width: 8px;
  height: 203px;
  transform: rotate(35deg);
  display: block;
  background-color: #5d40ad;
}
/* line 1006, ../scss/style.scss */
.footer__promo__part1::after {
  content: "";
  position: absolute;
  display: block;
  top: -235%;
  left: 64%;
  z-index: -1;
  width: 8px;
  height: 406px;
  transform: rotate(35deg);
  display: block;
  background-color: #5d40ad;
}
/* line 1020, ../scss/style.scss */
.footer__promo__part2 {
  margin-top: 18px;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #a496ca;
  position: relative;
  z-index: 2;
}
/* line 1034, ../scss/style.scss */
.footer__row {
  background-color: rgba(10, 14, 52, 0.8);
}

/* line 1039, ../scss/style.scss */
.footer-row_wrapper {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 1047, ../scss/style.scss */
.social {
  padding-top: 73px;
  padding-bottom: 73px;
  display: flex;
}
/* line 1051, ../scss/style.scss */
.social__link {
  text-decoration: none;
  margin-right: 30px;
}
/* line 1054, ../scss/style.scss */
.social__link:last-child {
  margin-right: 0;
}
/* line 1057, ../scss/style.scss */
.social__link__logo {
  width: 25px;
  height: 25px;
  fill: #ffffff;
}
/* line 1061, ../scss/style.scss */
.social__link__logo:hover {
  fill: #5e42b0;
}

/* line 1069, ../scss/style.scss */
.contact__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
}
/* line 1079, ../scss/style.scss */
.contact__link:hover {
  color: #5e42b0;
}

@media screen and (max-width: 1140px) {
  /* line 1088, ../scss/style.scss */
  .footer__promo::before {
    top: 128px;
    left: 50%;
    margin-left: -65px;
  }
  /* line 1093, ../scss/style.scss */
  .footer__promo__part1 {
    margin-top: 347px;
    font-size: 80px;
    line-height: 0.75;
    letter-spacing: 4.4px;
  }
  /* line 1099, ../scss/style.scss */
  .footer__promo__part2 {
    font-size: 36px;
    line-height: 1.67;
    letter-spacing: normal;
  }

  /* line 1106, ../scss/style.scss */
  .footer-row_wrapper {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
  }

  /* line 1111, ../scss/style.scss */
  .social {
    padding-top: 36px;
    padding-bottom: 34px;
  }

  /* line 1115, ../scss/style.scss */
  .logo {
    display: none;
  }

  /* line 1118, ../scss/style.scss */
  .contact {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 1126, ../scss/style.scss */
  .footer__promo::before {
    top: 97px;
    left: 50%;
    margin-left: -36.5px;
    width: 73px;
    height: 78px;
    background-image: url(../../img/artwork_73x78.png);
    background-size: 73px 78px;
  }
  /* line 1135, ../scss/style.scss */
  .footer__promo__part1 {
    margin-top: 237px;
    font-size: 34px;
    line-height: normal;
    letter-spacing: 1.7px;
  }
  /* line 1140, ../scss/style.scss */
  .footer__promo__part1::before {
    content: "";
    top: -30%;
    left: 10%;
    width: 4px;
    height: 100px;
    transform: rotate(35deg);
  }
  /* line 1148, ../scss/style.scss */
  .footer__promo__part1::after {
    content: "";
    position: absolute;
    display: block;
    top: -170%;
    left: 64%;
    width: 4px;
    height: 200px;
    transform: rotate(35deg);
  }
  /* line 1159, ../scss/style.scss */
  .footer__promo__part2 {
    font-size: 15px;
    line-height: 0.8;
    letter-spacing: normal;
  }

  /* line 1166, ../scss/style.scss */
  .footer-row_wrapper {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
  }

  /* line 1171, ../scss/style.scss */
  .social {
    padding-top: 19px;
    padding-bottom: 14px;
  }
  /* line 1174, ../scss/style.scss */
  .social__logo {
    width: 17px;
    height: 17px;
  }

  /* line 1179, ../scss/style.scss */
  .logo {
    display: none;
  }

  /* line 1182, ../scss/style.scss */
  .contact {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
