/* line 22, ../scss/style.scss */
.container {
  max-width: 1560px;
  margin: 0 auto;
}

/* line 29, ../scss/style.scss */
body {
  margin: 0;
}

/* line 33, ../scss/style.scss */
.header {
  font-family: "Proxima Nova", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url(../img/headercover_1920x1082.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 41, ../scss/style.scss */
.header__wrapper {
  background-color: rgba(10, 14, 52, 0.9);
}

/* line 46, ../scss/style.scss */
.row {
  font-family: "Proxima Nova", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 54px;
}
/* line 52, ../scss/style.scss */
.row__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 34.49px;
  letter-spacing: 0.7px;
}

/* line 60, ../scss/style.scss */
.promo {
  font-family: "Proxima Nova", Arial, sans-serif;
  margin-top: 309px;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 4.5px;
}
/* line 68, ../scss/style.scss */
.promo__part1 {
  text-align: left;
  line-height: 0.35;
}
/* line 72, ../scss/style.scss */
.promo__part2 {
  margin-top: 29px;
  text-align: right;
  line-height: 1.11;
}

/* line 79, ../scss/style.scss */
.main-nav {
  font-family: "Proxima Nova", Arial, sans-serif;
}
/* line 81, ../scss/style.scss */
.main-nav__list {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* line 87, ../scss/style.scss */
.main-nav__item {
  margin: 0;
  list-style: none;
  margin-right: 50px;
}
/* line 91, ../scss/style.scss */
.main-nav__item:last-child {
  margin-right: 0;
}
/* line 95, ../scss/style.scss */
.main-nav__link {
  color: #9071ea;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.46;
  letter-spacing: 0.7px;
  text-align: left;
}
/* line 105, ../scss/style.scss */
.main-nav__link:hover {
  color: #ffffff;
}

/* line 111, ../scss/style.scss */
.download {
  display: flex;
  justify-content: center;
  padding-bottom: 110px;
  margin-top: 181px;
}
/* line 116, ../scss/style.scss */
.download__link {
  margin-right: 50px;
}
/* line 118, ../scss/style.scss */
.download__link:last-child {
  margin-right: 0;
}

/* line 124, ../scss/style.scss */
.button-link {
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.7px;
  text-align: left;
  color: #ffffff;
  padding: 26px 67px 25px 43px;
  border-radius: 24px;
  background-color: #5e42b0;
  box-shadow: 0px 16px 24px 0 #0a0e34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
/* line 142, ../scss/style.scss */
.button-link:hover {
  color: #0a0e34;
}
/* line 145, ../scss/style.scss */
.button-link__icon {
  font-size: 38px;
}
/* line 148, ../scss/style.scss */
.button-link__wrapper {
  margin-left: 26px;
}
/* line 151, ../scss/style.scss */
.button-link__part1 {
  display: block;
}
/* line 154, ../scss/style.scss */
.button-link__part2 {
  display: block;
  font-weight: 600;
}

/* line 160, ../scss/style.scss */
.features {
  font-family: "Proxima Nova", Arial, sans-serif;
}
/* line 162, ../scss/style.scss */
.features__card {
  position: relative;
}
/* line 164, ../scss/style.scss */
.features__card--athlets::before {
  content: "";
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  background-image: url(../img/footballer_678x950.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 678px 950px;
  top: 5%;
  z-index: 2;
}
/* line 177, ../scss/style.scss */
.features__card--players::before {
  content: "";
  width: 100%;
  height: 105%;
  display: block;
  position: absolute;
  background-image: url(../img/player_991x815.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 991px 815px;
  top: -19%;
  left: 40%;
  z-index: 2;
}

/* line 194, ../scss/style.scss */
.card {
  font-family: "Proxima Nova", Arial, sans-serif;
}
/* line 196, ../scss/style.scss */
.card__row0 {
  background-color: #ffffff;
}
/* line 199, ../scss/style.scss */
.card__row1 {
  background-color: #ffffff;
}
/* line 202, ../scss/style.scss */
.card__row2 {
  background-color: #f5f4fa;
}
/* line 205, ../scss/style.scss */
.card__row3 {
  background-color: #5e42b0;
}
/* line 207, ../scss/style.scss */
.card__row3--invert {
  background-color: #0a0e34;
}
/* line 211, ../scss/style.scss */
.card__wrap {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
/* line 215, ../scss/style.scss */
.card__wrap--invert {
  align-items: flex-start;
}
/* line 219, ../scss/style.scss */
.card__title {
  width: 50%;
  margin: 0;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: #e7e7e7;
  margin-top: 112px;
  padding-left: 45px;
}

/* line 236, ../scss/style.scss */
.row {
  font-family: "Proxima Nova", Arial, sans-serif;
}
/* line 238, ../scss/style.scss */
.row__title {
  width: 50%;
  margin: 0;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: 1.8px;
  text-align: left;
  color: #c1c1c1;
  padding-top: 64px;
  padding-left: 80px;
}
/* line 253, ../scss/style.scss */
.row__description {
  width: 50%;
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
  margin-top: 31px;
  padding-bottom: 60px;
  padding-left: 45px;
}
/* line 267, ../scss/style.scss */
.row__description--invert {
  color: #ffffff;
  padding-bottom: 102px;
}

@media scren and (max-width: 1440px) {
  /* line 275, ../scss/style.scss */
  .row {
    padding-top: 53px;
  }

  /* line 278, ../scss/style.scss */
  .promo {
    margin-top: 194px;
    font-size: 64px;
    letter-spacing: 3.2px;
  }
  /* line 282, ../scss/style.scss */
  .promo__part1 {
    line-height: 1;
    margin-left: 89px;
  }
  /* line 286, ../scss/style.scss */
  .promo__part2 {
    line-height: normal;
    text-align: left;
    margin-top: 33px;
    margin-left: 197px;
  }

  /* line 294, ../scss/style.scss */
  .main-nav__list {
    justify-content: space-around;
  }
  /* line 297, ../scss/style.scss */
  .main-nav__item {
    margin: 0;
    margin-top: 184px;
  }

  /* line 302, ../scss/style.scss */
  .download {
    padding-bottom: 91px;
    margin-top: 116px;
  }
  /* line 305, ../scss/style.scss */
  .download__link {
    margin-right: 30px;
  }
  /* line 307, ../scss/style.scss */
  .download__link:last-child {
    margin-right: 0;
  }

  /* line 312, ../scss/style.scss */
  .button-link {
    box-shadow: 8px 13.9px 24px 0 #0a0e34;
  }
}
@media screen and (max-width: 767px) {
  /* line 318, ../scss/style.scss */
  .row {
    justify-content: center;
    padding-top: 39px;
  }
  /* line 321, ../scss/style.scss */
  .row__text {
    display: none;
  }

  /* line 325, ../scss/style.scss */
  .promo {
    margin-top: 141px;
    font-size: 32px;
    letter-spacing: 1.6px;
  }
  /* line 329, ../scss/style.scss */
  .promo__part1 {
    line-height: 1;
    margin-left: 10px;
  }
  /* line 333, ../scss/style.scss */
  .promo__part2 {
    line-height: normal;
    text-align: left;
    margin-top: 28px;
    margin-left: 60px;
  }

  /* line 340, ../scss/style.scss */
  .header-wrapper-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }

  /* line 346, ../scss/style.scss */
  .main-nav__list {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 46px;
    padding-bottom: 20px;
  }
  /* line 352, ../scss/style.scss */
  .main-nav__item {
    margin: 0;
    padding: 0;
    margin-right: 25px;
  }

  /* line 360, ../scss/style.scss */
  .download {
    padding-bottom: 0;
    margin-top: 118px;
  }
  /* line 363, ../scss/style.scss */
  .download__link {
    margin-right: 8px;
  }
  /* line 365, ../scss/style.scss */
  .download__link:last-child {
    margin-right: 0;
  }

  /* line 370, ../scss/style.scss */
  .button-link {
    font-size: 8px;
    letter-spacing: 0.4px;
    padding: 11px 17px 10px 20px;
    box-shadow: 0px 10px 16px 0 #0a0e34;
  }
  /* line 375, ../scss/style.scss */
  .button-link__icon {
    font-size: 17px;
  }
  /* line 378, ../scss/style.scss */
  .button-link__wrapper {
    margin-left: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
