/* line 22, ../scss/style.scss */
.container {
  max-width: 1560px;
  margin: 0 auto;
}

/* line 27, ../scss/style.scss */
body {
  margin: 0;
}

/* line 31, ../scss/style.scss */
.header {
  font-family: "Proxima Nova", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url(../img/headercover_1920x1082.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 39, ../scss/style.scss */
.header__wrapper {
  background-color: rgba(10, 14, 52, 0.9);
}

/* line 44, ../scss/style.scss */
.row {
  font-family: "Proxima Nova", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 54px;
}
/* line 50, ../scss/style.scss */
.row__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 34.49px;
  letter-spacing: 0.7px;
}

/* line 58, ../scss/style.scss */
.promo {
  font-family: "Proxima Nova", Arial, sans-serif;
  margin-top: 309px;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 4.5px;
}
/* line 66, ../scss/style.scss */
.promo__part1 {
  text-align: left;
  line-height: 0.35;
}
/* line 70, ../scss/style.scss */
.promo__part2 {
  margin-top: 29px;
  text-align: right;
  line-height: 1.11;
}

/* line 77, ../scss/style.scss */
.main-nav {
  font-family: "Proxima Nova", Arial, sans-serif;
}
/* line 79, ../scss/style.scss */
.main-nav__list {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* line 85, ../scss/style.scss */
.main-nav__item {
  margin: 0;
  list-style: none;
  margin-right: 50px;
}
/* line 89, ../scss/style.scss */
.main-nav__item:last-child {
  margin-right: 0;
}
/* line 93, ../scss/style.scss */
.main-nav__link {
  color: #9071ea;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.46;
  letter-spacing: 0.7px;
  text-align: left;
}
/* line 103, ../scss/style.scss */
.main-nav__link:hover {
  color: #ffffff;
}

/* line 109, ../scss/style.scss */
.download {
  display: flex;
  justify-content: center;
  padding-bottom: 110px;
  margin-top: 181px;
}
/* line 114, ../scss/style.scss */
.download__link {
  margin-right: 50px;
}
/* line 116, ../scss/style.scss */
.download__link:last-child {
  margin-right: 0;
}

/* line 122, ../scss/style.scss */
.button-link {
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.7px;
  text-align: left;
  color: #ffffff;
  padding: 26px 67px 25px 43px;
  border-radius: 24px;
  background-color: #5e42b0;
  box-shadow: 0px 16px 24px 0 #0a0e34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
/* line 140, ../scss/style.scss */
.button-link:hover {
  color: #0a0e34;
}
/* line 143, ../scss/style.scss */
.button-link__icon {
  font-size: 38px;
}
/* line 146, ../scss/style.scss */
.button-link__wrapper {
  margin-left: 26px;
}
/* line 149, ../scss/style.scss */
.button-link__part1 {
  display: block;
}
/* line 152, ../scss/style.scss */
.button-link__part2 {
  display: block;
  font-weight: 600;
}

/* line 158, ../scss/style.scss */
.features {
  font-family: "Proxima Nova", Arial, sans-serif;
}
/* line 160, ../scss/style.scss */
.features__card {
  position: relative;
}
/* line 162, ../scss/style.scss */
.features__card--athlets::before {
  content: "";
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  background-image: url(../img/footballer_678x950.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 678px 950px;
  top: 5%;
}
/* line 174, ../scss/style.scss */
.features__card--players::before {
  content: "";
  width: 100%;
  height: 105%;
  display: block;
  position: absolute;
  background-image: url(../img/player_991x815.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 991px 815px;
  top: -19%;
  left: 30%;
}

/* line 190, ../scss/style.scss */
.card {
  font-family: "Proxima Nova", Arial, sans-serif;
}
/* line 192, ../scss/style.scss */
.card__row0 {
  background-color: #ffffff;
}
/* line 195, ../scss/style.scss */
.card__row1 {
  background-color: #ffffff;
}
/* line 198, ../scss/style.scss */
.card__row2 {
  background-color: #f5f4fa;
}
/* line 201, ../scss/style.scss */
.card__row3 {
  background-color: #5e42b0;
}
/* line 203, ../scss/style.scss */
.card__row3--invert {
  background-color: #0a0e34;
}
/* line 207, ../scss/style.scss */
.card__wrap {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
/* line 211, ../scss/style.scss */
.card__wrap--invert {
  align-items: flex-start;
}
/* line 215, ../scss/style.scss */
.card__title {
  width: 50%;
  margin: 0;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: #e7e7e7;
  margin-top: 112px;
  padding-left: 45px;
}

/* line 232, ../scss/style.scss */
.row {
  font-family: "Proxima Nova", Arial, sans-serif;
}
/* line 234, ../scss/style.scss */
.row__title {
  width: 50%;
  margin: 0;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: 1.8px;
  text-align: left;
  color: #c1c1c1;
  padding-top: 64px;
  padding-left: 80px;
  max-width: 40.7051282051%;
}
/* line 250, ../scss/style.scss */
.row__description {
  width: 50%;
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
  margin-top: 31px;
  padding-bottom: 60px;
  padding-left: 45px;
  max-width: 42.3076923077%;
}
/* line 265, ../scss/style.scss */
.row__description--invert {
  color: #ffffff;
  padding-bottom: 102px;
}

/* line 272, ../scss/style.scss */
.foto {
  font-family: "Proxima Nova", Arial, sans-serif;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 278, ../scss/style.scss */
.foto__wrap {
  display: flex;
  justify-content: space-between;
}
/* line 281, ../scss/style.scss */
.foto__wrap:nth-child(2n) {
  display: flex;
  flex-direction: row-reverse;
}
/* line 286, ../scss/style.scss */
.foto__description {
  width: 50%;
}
/* line 289, ../scss/style.scss */
.foto--one {
  background-image: url(../img/beactive_960x730.png);
}
/* line 292, ../scss/style.scss */
.foto--two {
  background-image: url(../img/findcontact_960x730.png);
}
/* line 295, ../scss/style.scss */
.foto--three {
  background-image: url(../img/workit_960x730.png);
}

/* line 300, ../scss/style.scss */
.description {
  font-family: "Proxima Nova", Arial, sans-serif;
}
/* line 302, ../scss/style.scss */
.description__title {
  font-family: "Proxima Nova", Arial, sans-serif;
  margin: 0;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: rgba(193, 193, 193, 0.4);
  margin-top: 257px;
  padding-left: 125px;
}
/* line 316, ../scss/style.scss */
.description__text {
  font-family: "Proxima Nova", Arial, sans-serif;
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 1.2px;
  text-align: left;
  color: #000000;
  margin-top: 119px;
  max-width: 500px;
  padding-bottom: 250px;
  padding-left: 125px;
}

/* line 334, ../scss/style.scss */
.footer {
  font-family: "Proxima Nova", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url("../img/footercover_2500x1275.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 342, ../scss/style.scss */
.footer__wrapper {
  background-color: rgba(10, 14, 52, 0.9);
}
/* line 345, ../scss/style.scss */
.footer__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 350, ../scss/style.scss */
.footer__row {
  background-color: rgba(10, 14, 52, 0.8);
}

/* line 354, ../scss/style.scss */
.footer-row_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 361, ../scss/style.scss */
.promo__part1 {
  margin-top: 247px;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: 4.5px;
  text-align: left;
  color: #ffffff;
}
/* line 372, ../scss/style.scss */
.promo__part2 {
  margin-top: 18px;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #a496ca;
}

@media scren and (max-width: 1440px) {
  /* line 386, ../scss/style.scss */
  .row {
    padding-top: 53px;
  }

  /* line 389, ../scss/style.scss */
  .promo {
    margin-top: 194px;
    font-size: 64px;
    letter-spacing: 3.2px;
  }
  /* line 393, ../scss/style.scss */
  .promo__part1 {
    line-height: 1;
    margin-left: 89px;
  }
  /* line 397, ../scss/style.scss */
  .promo__part2 {
    line-height: normal;
    text-align: left;
    margin-top: 33px;
    margin-left: 197px;
  }

  /* line 405, ../scss/style.scss */
  .main-nav__list {
    justify-content: space-around;
  }
  /* line 408, ../scss/style.scss */
  .main-nav__item {
    margin: 0;
    margin-top: 184px;
  }

  /* line 413, ../scss/style.scss */
  .download {
    padding-bottom: 91px;
    margin-top: 116px;
  }
  /* line 416, ../scss/style.scss */
  .download__link {
    margin-right: 30px;
  }
  /* line 418, ../scss/style.scss */
  .download__link:last-child {
    margin-right: 0;
  }

  /* line 423, ../scss/style.scss */
  .button-link {
    box-shadow: 8px 13.9px 24px 0 #0a0e34;
  }
}
@media screen and (max-width: 767px) {
  /* line 429, ../scss/style.scss */
  .row {
    justify-content: center;
    padding-top: 39px;
  }
  /* line 432, ../scss/style.scss */
  .row__text {
    display: none;
  }

  /* line 436, ../scss/style.scss */
  .promo {
    margin-top: 141px;
    font-size: 32px;
    letter-spacing: 1.6px;
  }
  /* line 440, ../scss/style.scss */
  .promo__part1 {
    line-height: 1;
    margin-left: 10px;
  }
  /* line 444, ../scss/style.scss */
  .promo__part2 {
    line-height: normal;
    text-align: left;
    margin-top: 28px;
    margin-left: 60px;
  }

  /* line 451, ../scss/style.scss */
  .header-wrapper-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }

  /* line 457, ../scss/style.scss */
  .main-nav__list {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 46px;
    padding-bottom: 20px;
  }
  /* line 463, ../scss/style.scss */
  .main-nav__item {
    margin: 0;
    padding: 0;
    margin-right: 25px;
  }

  /* line 471, ../scss/style.scss */
  .download {
    padding-bottom: 0;
    margin-top: 118px;
  }
  /* line 474, ../scss/style.scss */
  .download__link {
    margin-right: 8px;
  }
  /* line 476, ../scss/style.scss */
  .download__link:last-child {
    margin-right: 0;
  }

  /* line 481, ../scss/style.scss */
  .button-link {
    font-size: 8px;
    letter-spacing: 0.4px;
    padding: 11px 17px 10px 20px;
    box-shadow: 0px 10px 16px 0 #0a0e34;
  }
  /* line 486, ../scss/style.scss */
  .button-link__icon {
    font-size: 17px;
  }
  /* line 489, ../scss/style.scss */
  .button-link__wrapper {
    margin-left: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
