$container:1560px;
$white: #ffffff;
$black: #161616;
$beige: #e3d5b8;
$faded-red: #d03958;
$black-two: #1f1f1f;
$black-three: #1b1b1b;
$greyish: #b5b5b5;
$dark-indigo: #0a0e34;
$rosy-pink: #f26163;
$bluey-purple: #5e42b0;
$purpley: #9172e6;
$black-four: #000000;
$pinkish-grey-40: rgba(193, 193, 193, 0.4);
$white-two: #e7e7e7;
$wisteria: #a496ca;
$pinkish-grey: #c1c1c1;
$purpley-two: #9071ea;
$pale-grey: #f5f6f7;
$perrywinkle: #9173e6;
$white-three: #efefef;
.container {
    max-width: $container; // outline: 1px solid green;
    margin: 0 auto;
}

body {
    margin: 0;
}

.header {
    font-family: "Proxima Nova", Arial, sans-serif;
    color: $white;
    text-transform: uppercase;
    background-image: url(../img/headercover_1920x1082.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__wrapper {
        background-color: rgba(10, 14, 52, 0.9);
    }
}

.row {
    font-family: "Proxima Nova", Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 54px;
    &__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 34.49px;
        letter-spacing: 0.7px;
    }
}

.promo {
    font-family: "Proxima Nova", Arial, sans-serif;
    margin-top: 309px;
    font-size: 90px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 4.5px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 254px;
        height: 317px;
        display: block;
        background-repeat: no-repeat;
        background-image: url(../img/art_header_254x317.png);
        background-position: center center;
        left: 27%;
        top: -72%;
    }
    &__part1 {
        text-align: left;
        line-height: 0.35;
        position: relative;
        z-index: 1;
    }
    &__part2 {
        margin-top: 29px;
        text-align: right;
        line-height: 1.11;
        ;
    }
}

.main-nav {
    font-family: "Proxima Nova", Arial, sans-serif;
    &__list {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__item {
        margin: 0;
        list-style: none;
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        color: $purpley-two;
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.46;
        letter-spacing: 0.7px;
        text-align: left;
        &:hover {
            color: $white;
        }
    }
}

.download {
    display: flex;
    justify-content: center;
    padding-bottom: 110px;
    margin-top: 181px;
    &__link {
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.button-link {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.7px;
    text-align: left;
    color: $white;
    padding: 26px 67px 25px 43px;
    border-radius: 24px;
    background-color: $bluey-purple;
    box-shadow: 0px 16px 24px 0 $dark-indigo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    &:hover {
        color: $dark-indigo;
    }
    &__icon {
        font-size: 38px;
    }
    &__wrapper {
        margin-left: 26px;
    }
    &__part1 {
        display: block;
    }
    &__part2 {
        display: block;
        font-weight: 600;
    }
}

.features {
    font-family: "Proxima Nova", Arial, sans-serif;
    &__card {
        position: relative;
        &--athlets::before {
            content: "";
            width: 50%;
            height: 100%;
            display: block;
            position: absolute;
            background-image: url(../img/footballer_678x950.png);
            background-repeat: no-repeat;
            background-position: center right;
            background-size: 678px 950px;
            top: 5%;
        }
        &--players::before {
            content: "";
            width: 991px;
            height: 100%;
            display: block;
            position: absolute;
            background-image: url(../img/player_991x815.png);
            background-repeat: no-repeat;
            background-position: center left;
            background-size: 991px 815px;
            top: -18%;
            right: 0;
        }
    }
}

.card {
    font-family: "Proxima Nova", Arial, sans-serif;
    &__row0 {
        background-color: $white;
    }
    &__row1 {
        background-color: $white;
    }
    &__row2 {
        background-color: #f5f4fa;
    }
    &__row3 {
        background-color: #5e42b0;
        &--invert {
            background-color: $dark-indigo;
        }
    }
    &__wrap {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        &--invert {
            align-items: flex-start;
        }
    }
    &__title {
        width: 50%;
        margin: 0;
        text-transform: uppercase;
        font-size: 90px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.67;
        letter-spacing: normal;
        text-align: left;
        color: $white-two;
        margin-top: 112px;
        padding-left: 45px;
    }
}

.row {
    font-family: "Proxima Nova", Arial, sans-serif;
    &__title {
        width: 50%;
        margin: 0;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.96;
        letter-spacing: 1.8px;
        text-align: left;
        color: $pinkish-grey;
        padding-top: 64px;
        padding-left: 45px;
        max-width: (660px - 0px) / $container * 100%;
        &--one {
            &::before {
                content: "01";
                height: 100%;
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.35;
                letter-spacing: 0.9px;
                text-align: center;
                color: $black-four;
                border-bottom: 5px solid $bluey-purple;
                border-radius: 2px;
                display: inline-block;
                vertical-align: top;
                margin-right: 15px;
            }
        }
        &--two {
            &::before {
                content: "02";
                height: 100%;
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.35;
                letter-spacing: 0.9px;
                text-align: center;
                color: $black-four;
                border-bottom: 5px solid $bluey-purple;
                border-radius: 2px;
                display: inline-block;
                vertical-align: top;
                margin-right: 15px;
            }
        }
        &--three {
            &::before {
                content: "03";
                height: 100%;
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.35;
                letter-spacing: 0.9px;
                text-align: center;
                color: $black-four;
                border-bottom: 5px solid $white-three;
                border-radius: 2px;
                display: inline-block;
                vertical-align: top;
                margin-right: 15px;
            }
        }
        &--threeinvert {
            &::before {
                content: "03";
                height: 100%;
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.35;
                letter-spacing: 0.9px;
                text-align: center;
                color: $perrywinkle;
                border-bottom: 5px solid $white-three;
                border-radius: 2px;
                display: inline-block;
                vertical-align: top;
                margin-right: 15px;
            }
        }
    }
    &__description {
        width: 50%;
        margin: 0;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 1px;
        text-align: left;
        color: $black-four;
        margin-top: 31px;
        padding-bottom: 60px;
        padding-left: 45px;
        max-width: 660px / $container * 100%;
        &--invert {
            color: $white;
            padding-bottom: 102px;
        }
    }
}

.foto {
    font-family: "Proxima Nova", Arial, sans-serif;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__wrap {
        display: flex;
        justify-content: space-between;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 168px;
            height: 155px;
            background-color: $bluey-purple;
            top: 50%;
            left: 50%;
            display: block;
        }
        &:nth-child(2n) {
            display: flex;
            flex-direction: row-reverse;
        }
        &:nth-child(1) {
            position: relative;
            &::before {
                content: "01";
                font-size: 24px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.44;
                letter-spacing: 1.2px;
                text-align: center;
                color: $pale-grey;
                border-bottom: 5px solid rgba(255, 255, 255, 0.3);
                border-radius: 2px;
                display: block;
                position: absolute;

            }
        }
    }
    &__description {
        width: 50%;
    }
    &--one {
        background-image: url(../img/beactive_960x730.png);
    }
    &--two {
        background-image: url(../img/findcontact_960x730.png);
    }
    &--three {
        background-image: url(../img/workit_960x730.png);
    }
}

.description {
    font-family: "Proxima Nova", Arial, sans-serif;
    &__title {
        font-family: "Proxima Nova", Arial, sans-serif;
        margin: 0;
        font-size: 90px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: $pinkish-grey-40;
        margin-top: 257px;
        padding-left: 125px;
    }
    &__text {
        font-family: "Proxima Nova", Arial, sans-serif;
        margin: 0;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: 1.2px;
        text-align: left;
        color: $black-four;
        margin-top: 119px;
        max-width: 500px;
        padding-bottom: 250px;
        padding-left: 125px;
    }
}

.footer {
    font-family: "Proxima Nova", Arial, sans-serif;
    color: $white;
    text-transform: uppercase;
    background-image: url("../img/footercover_2500x1275.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__wrapper {
        background-color: rgba(10, 14, 52, 0.9);
    }
    &__promo {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 130px;
            height: 137px;
            display: block;
            background-image: url(../img/artwork_130x137.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 130px 137px;
            bottom: 0;
            left: 16%;
        }
    }
    &__row {
        background-color: rgba(10, 14, 52, 0.8);
    }
}

.footer-row_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    padding-top: 73px;
    padding-bottom: 73px;
    &__link {
        font-size: 25px;
        color: $white;
        text-decoration: none;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $bluey-purple;
        }
    }
}

.footer-promo {
    &__part1 {
        margin-top: 247px;
        font-size: 90px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.67;
        letter-spacing: 4.5px;
        text-align: left;
        color: $white;
    }
    &__part2 {
        margin-top: 18px;
        font-size: 36px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: $wisteria
    }
}

.contact {
    &__link {
        color: $white;
        text-decoration: none;
        text-transform: none;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        &:hover {
            color: $bluey-purple;
        }
    }
}

// template 768, 768-1440px
@media screen and (max-width:1440px) {
    .row {
        padding-top: 53px;
    }
    .promo {
        margin-top: 194px;
        font-size: 64px;
        letter-spacing: 3.2px;
        &__part1 {
            line-height: 1;
            margin-left: 89px;
        }
        &__part2 {
            line-height: normal;
            text-align: left;
            margin-top: 33px;
            margin-left: 197px;
        }
    }
    .main-nav {
        &__list {
            justify-content: space-around;
        }
        &__item {
            margin: 0;
            margin-top: 184px;
        }
    }
    .download {
        padding-bottom: 91px;
        margin-top: 116px;
        &__link {
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .button-link {
        box-shadow: 8px 13.9px 24px 0 $dark-indigo;
    }
}

// template 320, 0-768px
@media screen and (max-width:768px) {
    .row {
        justify-content: center;
        padding-top: 39px;
        &__text {
            display: none;
        }
    }
    .promo {
        margin-top: 141px;
        font-size: 32px;
        letter-spacing: 1.6px;
        &__part1 {
            line-height: 1;
            margin-left: 10px;
        }
        &__part2 {
            line-height: normal;
            text-align: left;
            margin-top: 28px;
            margin-left: 60px;
        }
    }
    .header-wrapper-mobile {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .main-nav {
        &__list {
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 46px;
            padding-bottom: 20px;
        }
        &__item {
            margin: 0;
            padding: 0;
            margin-right: 25px; // &:last-child {
            //     margin-right: 0;
            // }
        }
    }
    .download {
        padding-bottom: 0;
        margin-top: 118px;
        &__link {
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .button-link {
        font-size: 8px;
        letter-spacing: 0.4px;
        padding: 11px 17px 10px 20px;
        box-shadow: 0px 10px 16px 0 $dark-indigo;
        &__icon {
            font-size: 17px;
        }
        &__wrapper {
            margin-left: 10px;
        }
    }
}