$container:1560px;
.container {
    max-width: $container;
    margin: 0 auto;
}
body{
    margin: 0;
}
.header{
    width: 100%;
    background-color: #0a0e34;
    background-image: url(../img/headercover_1920x1082.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}