$container:1560px;
$white:#ffffff;
$purpley-two:#9071ea;
$dark-indigo:#0a0e34;
$bluey-purple:#5e42b0;
.container {
    max-width: $container;
    margin: 0 auto;
}

body {
    margin: 0;
}

.header {
    font-family: "Proxima Nova", Arial, sans-serif;
    color: $white;
    text-transform: uppercase;
    background-image: url(../img/headercover_1920x1082.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__wrapper {
        background-color: rgba(10, 14, 52, 0.9);
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 54px;
    &__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 34.49px;
        letter-spacing: 0.7px;
    }
}

.promo {
    margin-top: 309px;
    font-size: 90px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 4.5px;
    &__part1 {
        text-align: left;
        line-height: 0.35;
    }
    &__part2 {
        margin-top: 29px;
        text-align: right;
        line-height: 1.11;
    }
}

.main-nav {
    &__list {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__item {
        margin: 0;
        list-style: none;
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        color: $purpley-two;
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.46;
        letter-spacing: 0.7px;
        text-align: left;
        &:hover {
            color: $white;
        }
    }
}

.download {
    display: flex;
    justify-content: center;
    padding-bottom: 110px;
    margin-top: 181px;
    &__link {
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.button-link {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.7px;
    text-align: left;
    color: $white;
    padding: 26px 67px 25px 43px;
    border-radius: 24px;
    background-color: $bluey-purple;
    box-shadow: 0px 16px 24px 0 $dark-indigo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    &:hover {
        color: $dark-indigo;
    }
    &__icon {
        font-size: 38px;
    }
    &__wrapper {
        margin-left: 26px;
    }
    &__part1 {
        display: block;
    }
    &__part2 {
        display: block;
        font-weight: 600;
    }
}