$container:1560px;
.footer {
    font-family: "Proxima Nova", Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    background-image: url("../../img/footercover_2500x1275.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__wrapper {
        background-color: rgba(10, 14, 52, 0.9);
    }
    &__promo {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 130px;
            height: 137px;
            display: block;
            background-image: url(../../img/artwork_130x137.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 130px 137px;
            bottom: 0;
            left: 16%;
        }
        &__part1 {
            margin-top: 247px;
            font-size: 90px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.67;
            letter-spacing: 4.5px;
            text-align: left;
            color: #ffffff;
            position: relative;
            z-index: 2;
            &::before {
                content: "";
                position: absolute;
                display: block;
                top: -95%;
                left: 12%;
                z-index: -1;
                width: 8px;
                height: 203px;
                transform: rotate(35deg);
                display: block;
                background-color: #5d40ad;
            }
            &::after {
                content: "";
                position: absolute;
                display: block;
                top: -235%;
                left: 64%;
                z-index: -1;
                width: 8px;
                height: 406px;
                transform: rotate(35deg);
                display: block;
                background-color: #5d40ad;
            }
        }
        &__part2 {
            margin-top: 18px;
            font-size: 36px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #a496ca;
            position: relative;
            z-index: 2;
        }
    }
    &__row {
        background-color: rgba(10, 14, 52, 0.8);
    }
}

.footer-row_wrapper {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    padding-top: 73px;
    padding-bottom: 73px;
    display: flex;
    &__link {
        text-decoration: none;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        &__logo {
            width: 25px;
            height: 25px;
            fill: #ffffff;
            &:hover {
                fill: #5e42b0;
            }
        }
    }
}

@import '../../header/scss/style.scss';
.contact {
    &__link {
        color: #ffffff;
        text-decoration: none;
        text-transform: none;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        &:hover {
            color: #5e42b0;
        }
    }
}

@media screen and (max-width:1140px) {
    .footer {
        &__promo {
            &::before {
                top: 128px;
                left: 50%;
                margin-left: -65px;
            }
            &__part1 {
                margin-top: 347px;
                font-size: 80px;
                line-height: 0.75;
                letter-spacing: 4.4px;
            }
            &__part2 {
                font-size: 36px;
                line-height: 1.67;
                letter-spacing: normal;
            }
        }
    }
    .footer-row_wrapper {
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
    }
    .social {
        padding-top: 36px;
        padding-bottom: 34px;
    }
    .logo {
        display: none;
    }
    .contact {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .footer {
        &__promo {
            &::before {
                top: 97px;
                left: 50%;
                margin-left: -36.5px;
                width: 73px;
                height: 78px;
                background-image: url(../../img/artwork_73x78.png);
                background-size: 73px 78px;
            }
            &__part1 {
                margin-top: 237px;
                font-size: 34px;
                line-height: normal;
                letter-spacing: 1.7px;
                &::before {
                    content: "";
                    top: -30%;
                    left: 10%;
                    width: 4px;
                    height: 100px;
                    transform: rotate(35deg);
                }
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    top: -170%;
                    left: 64%;
                    width: 4px;
                    height: 200px;
                    transform: rotate(35deg);
                }
            }
            &__part2 {
                font-size: 15px;
                line-height: 0.8;
                letter-spacing: normal;
            }
        }
    }
    .footer-row_wrapper {
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
    }
    .social {
        padding-top: 19px;
        padding-bottom: 14px;
        &__logo {
            width: 17px;
            height: 17px;
        }
    }
    .logo {
        display: none;
    }
    .contact {
        display: none;
    }
}