/* line 22, ../scss/style.scss */
body {
  margin: 0;
}

/* line 26, ../scss/style.scss */
.container {
  max-width: 1560px;
  margin: 0 auto;
}

/* line 33, ../scss/style.scss */
.card__title {
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: #e7e7e7;
  margin: 0;
  margin-top: 112px;
  padding-bottom: 30px;
  position: relative;
}

/* line 73, ../scss/style.scss */
.row {
  position: relative;
  width: 100%;
}
/* line 76, ../scss/style.scss */
.row__wrapper {
  padding-left: 813px;
  padding-right: 15px;
  padding-top: 68px;
  padding-bottom: 102px;
}
/* line 81, ../scss/style.scss */
.row__wrapper--players {
  padding-top: 68px;
  padding-bottom: 102px;
  padding-right: 682px;
  padding-left: 146px;
}
/* line 88, ../scss/style.scss */
.row--players {
  padding-right: 0;
}
/* line 90, ../scss/style.scss */
.row--players.row--three {
  background-color: #090c35;
}
/* line 94, ../scss/style.scss */
.row--one {
  background-color: #ffffff;
}
/* line 97, ../scss/style.scss */
.row--two {
  background-color: rgba(94, 66, 176, 0.06);
}
/* line 100, ../scss/style.scss */
.row--three {
  background-color: #5e42b0;
}
/* line 103, ../scss/style.scss */
.row__title {
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: 1.8px;
  text-align: left;
  color: #c1c1c1;
  margin: 0;
  margin-top: 65px;
}
/* line 117, ../scss/style.scss */
.row__title--one::before {
  content: "01";
  height: 100%;
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.9px;
  text-align: center;
  color: #000000;
  border-bottom: 5px solid #5e42b0;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
/* line 137, ../scss/style.scss */
.row__title--two::before {
  content: "02";
  height: 100%;
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.9px;
  text-align: center;
  color: #000000;
  border-bottom: 5px solid #5e42b0;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
/* line 157, ../scss/style.scss */
.row__title--three::before {
  content: "03";
  height: 100%;
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.9px;
  text-align: center;
  color: #000000;
  border-bottom: 5px solid #efefef;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
/* line 177, ../scss/style.scss */
.row__title--threeinvert::before {
  content: "03";
  height: 100%;
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.9px;
  text-align: center;
  color: #8765dd;
  border-bottom: 5px solid #efefef;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
/* line 197, ../scss/style.scss */
.row__description {
  position: relative;
  font-family: "Proxima Nova-Regular", Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 60px;
}
/* line 211, ../scss/style.scss */
.row__description--three {
  color: #ffffff;
}

/* line 217, ../scss/style.scss */
.slider__controls {
  display: none;
}

@media screen and (max-width: 1440px) {
  /* line 225, ../scss/style.scss */
  .card__title {
    margin: 0;
    margin-top: 85px;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 258px;
    padding-right: 48px;
  }
  /* line 232, ../scss/style.scss */
  .card__title--players {
    margin: 0;
    margin-top: 85px;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 48px;
    padding-right: 48px;
  }

  /* line 243, ../scss/style.scss */
  .row__wrapper {
    padding: 0;
  }
  /* line 245, ../scss/style.scss */
  .row__wrapper--players {
    padding: 0;
    margin: 0;
  }
  /* line 250, ../scss/style.scss */
  .row__title {
    margin: 0;
    padding: 0;
    padding-top: 41px;
    padding-left: 258px;
    padding-right: 15px;
  }
  /* line 256, ../scss/style.scss */
  .row__title--players {
    margin: 0;
    padding: 0;
    padding-top: 41px;
    padding-right: 48px;
    padding-left: 48px;
  }
  /* line 264, ../scss/style.scss */
  .row__description {
    margin: 0;
    margin-top: 32px;
    padding-left: 291px;
    padding-right: 48px;
    padding-bottom: 40px;
    font-size: 18px;
  }
  /* line 271, ../scss/style.scss */
  .row__description--players {
    margin: 0;
    margin-top: 32px;
    padding: 0;
    padding-right: 270px;
    padding-left: 48px;
    padding-bottom: 40px;
  }

  /* line 281, ../scss/style.scss */
  .slider__controls {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 288, ../scss/style.scss */
  .card__title {
    font-size: 50px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    margin-top: 26px;
    padding-left: 19px;
    padding-right: 19px;
  }

  /* line 299, ../scss/style.scss */
  .row__wrapper {
    margin: 0;
    padding: 0;
  }
  /* line 303, ../scss/style.scss */
  .row--one {
    background-color: rgba(94, 66, 176, 0.06);
  }
  /* line 306, ../scss/style.scss */
  .row--two {
    background-color: rgba(94, 66, 176, 0.06);
  }
  /* line 309, ../scss/style.scss */
  .row--three {
    background-color: rgba(94, 66, 176, 0.06);
  }
  /* line 313, ../scss/style.scss */
  .row--players.row--three {
    background-color: rgba(94, 66, 176, 0.06);
  }
  /* line 317, ../scss/style.scss */
  .row__title {
    font-size: 28px;
    line-height: 1.23;
    letter-spacing: 1.4px;
    margin: 0;
    padding: 0;
    margin-top: 245px;
    padding-top: 81px;
    padding-left: 19px;
    padding-right: 19px;
  }
  /* line 328, ../scss/style.scss */
  .row__title--one::before {
    border-bottom: 4px solid #5e42b0;
    border-radius: 1.5px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    margin-right: 12px;
    margin-top: 1px;
  }
  /* line 339, ../scss/style.scss */
  .row__title--two::before {
    border-bottom: 4px solid #5e42b0;
    border-radius: 1.5px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    margin-right: 12px;
    margin-top: 1px;
  }
  /* line 350, ../scss/style.scss */
  .row__title--three::before {
    border-bottom: 4px solid #5e42b0;
    border-radius: 1.5px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    margin-right: 12px;
    margin-top: 1px;
  }
  /* line 361, ../scss/style.scss */
  .row__title--threeinvert::before {
    border-bottom: 4px solid #5e42b0;
    border-radius: 1.5px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    margin-right: 12px;
    margin-top: 1px;
    color: #000000;
  }
  /* line 373, ../scss/style.scss */
  .row__description {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.8px;
    margin: 0;
    padding: 0;
    padding-bottom: 73px;
    padding-left: 19px;
    padding-right: 19px;
  }
  /* line 382, ../scss/style.scss */
  .row__description--three {
    color: #000000;
  }

  /* line 387, ../scss/style.scss */
  .card--athlets .row--one {
    display: none;
  }

  /* line 390, ../scss/style.scss */
  .card--athlets .row--three {
    display: none;
  }

  /* line 393, ../scss/style.scss */
  .card--players .row--one {
    display: none;
  }

  /* line 396, ../scss/style.scss */
  .card--players .row--two {
    display: none;
  }

  /* line 399, ../scss/style.scss */
  .slider__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -33px;
  }

  /* line 411, ../scss/style.scss */
  .radio__label {
    font-size: 0;
  }
  /* line 414, ../scss/style.scss */
  .radio__row {
    display: none;
  }
  /* line 416, ../scss/style.scss */
  .radio__row:checked + .radio__label::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #5c3caf;
    background-size: 10px 10px;
    border-radius: 50%;
    display: block;
    margin-left: 12px;
  }
  /* line 429, ../scss/style.scss */
  .radio__label:hover {
    cursor: pointer;
  }
  /* line 432, ../scss/style.scss */
  .radio__label::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #d8d8d8;
    background-size: 10px 10px;
    border-radius: 50%;
    display: block;
    margin-left: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
