/* line 22, ../scss/style.scss */
body {
  margin: 0;
}

/* line 25, ../scss/style.scss */
.container {
  max-width: 1560px;
  outline: 1px solid green;
  margin: 0 auto;
}

/* line 35, ../scss/style.scss */
.card__title {
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: #e7e7e7;
  margin: 0;
  margin-top: 112px;
  margin-bottom: 30px;
}

/* line 64, ../scss/style.scss */
.row {
  position: relative;
  width: 100%;
}
/* line 71, ../scss/style.scss */
.row--players {
  padding-right: 0;
}
/* line 75, ../scss/style.scss */
.row--players.row--three {
  background-color: #090c35;
}
/* line 79, ../scss/style.scss */
.row--one {
  background-color: #ffffff;
}
/* line 82, ../scss/style.scss */
.row--two {
  background-color: rgba(94, 66, 176, 0.06);
}
/* line 85, ../scss/style.scss */
.row--three {
  background-color: #5e42b0;
}
/* line 88, ../scss/style.scss */
.row__title {
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: 1.8px;
  text-align: left;
  color: #c1c1c1;
  margin: 0;
  margin-top: 65px;
}
/* line 106, ../scss/style.scss */
.row__title--one::before {
  content: "01";
  height: 100%;
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.9px;
  text-align: center;
  color: #000000;
  border-bottom: 5px solid #5e42b0;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
/* line 126, ../scss/style.scss */
.row__title--two::before {
  content: "02";
  height: 100%;
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.9px;
  text-align: center;
  color: #000000;
  border-bottom: 5px solid #5e42b0;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
/* line 146, ../scss/style.scss */
.row__title--three::before {
  content: "03";
  height: 100%;
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.9px;
  text-align: center;
  color: #000000;
  border-bottom: 5px solid #efefef;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
/* line 166, ../scss/style.scss */
.row__title--threeinvert::before {
  content: "03";
  height: 100%;
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.9px;
  text-align: center;
  color: #8765dd;
  border-bottom: 5px solid #efefef;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
/* line 186, ../scss/style.scss */
.row__description {
  font-family: "Proxima Nova-Regular", Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 60px;
}
/* line 200, ../scss/style.scss */
.row__description--three {
  color: #ffffff;
}

/* line 209, ../scss/style.scss */
.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}

/* line 220, ../scss/style.scss */
.radio {
  display: none;
}
/* line 222, ../scss/style.scss */
.radio__label {
  font-size: 0;
  display: none;
}
/* line 226, ../scss/style.scss */
.radio__row {
  display: none;
}
/* line 228, ../scss/style.scss */
.radio__row:checked + .radio__label::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: green;
  background-size: 10px 10px;
  border-radius: 50%;
  display: block;
  margin-left: 12px;
}
/* line 239, ../scss/style.scss */
.radio__label {
  display: none;
}
/* line 241, ../scss/style.scss */
.radio__label:hover {
  cursor: pointer;
}
/* line 244, ../scss/style.scss */
.radio__label::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: red;
  background-size: 10px 10px;
  border-radius: 50%;
  display: block;
  margin-left: 12px;
}

@media screen and (max-width: 1440px) {
  /* line 260, ../scss/style.scss */
  .card__title {
    width: 55.3385416667%;
    padding-right: 7.2916666667%;
    margin-top: 82px;
    margin-bottom: 20px;
  }
  /* line 265, ../scss/style.scss */
  .card__title--players {
    padding-left: 5.2083333333%;
  }

  /* line 271, ../scss/style.scss */
  .row--players {
    padding-left: 5.2083333333%;
  }
  /* line 274, ../scss/style.scss */
  .row__title {
    margin-top: 40px;
    width: 55.3385416667%;
    padding-right: 7.2916666667%;
  }
  /* line 279, ../scss/style.scss */
  .row__description {
    width: 55.3385416667%;
    padding-right: 7.2916666667%;
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  /* line 289, ../scss/style.scss */
  .row--one {
    display: none;
  }
  /* line 292, ../scss/style.scss */
  .row--three {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
