/* line 2, ../scss/style.scss */
.footer {
  font-family: "Proxima Nova", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url("../../img/footercover_2500x1275.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 10, ../scss/style.scss */
.footer__wrapper {
  background-color: rgba(10, 14, 52, 0.9);
}
/* line 13, ../scss/style.scss */
.footer__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
/* line 18, ../scss/style.scss */
.footer__promo::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 137px;
  display: block;
  background-image: url(../../img/artwork_130x137.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 130px 137px;
  bottom: 0;
  left: 16%;
}
/* line 31, ../scss/style.scss */
.footer__promo__part1 {
  margin-top: 247px;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: 4.5px;
  text-align: left;
  color: #ffffff;
  position: relative;
  z-index: 2;
}
/* line 43, ../scss/style.scss */
.footer__promo__part1::before {
  content: "";
  position: absolute;
  display: block;
  top: -95%;
  left: 12%;
  z-index: -1;
  width: 8px;
  height: 203px;
  transform: rotate(35deg);
  display: block;
  background-color: #5d40ad;
}
/* line 56, ../scss/style.scss */
.footer__promo__part1::after {
  content: "";
  position: absolute;
  display: block;
  top: -235%;
  left: 64%;
  z-index: -1;
  width: 8px;
  height: 406px;
  transform: rotate(35deg);
  display: block;
  background-color: #5d40ad;
}
/* line 70, ../scss/style.scss */
.footer__promo__part2 {
  margin-top: 18px;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #a496ca;
  position: relative;
  z-index: 2;
}
/* line 84, ../scss/style.scss */
.footer__row {
  background-color: rgba(10, 14, 52, 0.8);
}

/* line 89, ../scss/style.scss */
.footer-row_wrapper {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 97, ../scss/style.scss */
.social {
  padding-top: 73px;
  padding-bottom: 73px;
  display: flex;
}
/* line 101, ../scss/style.scss */
.social__link {
  text-decoration: none;
  margin-right: 30px;
}
/* line 104, ../scss/style.scss */
.social__link:last-child {
  margin-right: 0;
}
/* line 107, ../scss/style.scss */
.social__link__logo {
  width: 25px;
  height: 25px;
  fill: #ffffff;
}
/* line 111, ../scss/style.scss */
.social__link__logo:hover {
  fill: #5e42b0;
}

/* line 2, ../../header/scss/style.scss */
.container {
  max-width: 1560px;
  margin: 0 auto;
}

/* line 7, ../../header/scss/style.scss */
body {
  margin: 0;
}

/* line 11, ../../header/scss/style.scss */
.header {
  color: #ffffff;
  text-transform: uppercase;
  background-image: url(../../img/headercover_1920x1082.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 18, ../../header/scss/style.scss */
.header__wrapper {
  background-color: rgba(10, 14, 52, 0.9);
}

/* line 23, ../../header/scss/style.scss */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
/* line 28, ../../header/scss/style.scss */
.row__text {
  font-family: "Proxima Nova-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.46;
  letter-spacing: 0.7px;
  margin-right: 15px;
  color: #ffffff;
}
/* line 37, ../../header/scss/style.scss */
.row__logo {
  margin-left: 15px;
}

/* line 42, ../../header/scss/style.scss */
.promo {
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  margin-top: 325px;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 4.5px;
  position: relative;
  color: #ffffff;
}
/* line 52, ../../header/scss/style.scss */
.promo::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 406px;
  transform: rotate(35deg);
  display: block;
  background-color: #5d40ad;
  left: 33%;
  top: -100%;
}
/* line 63, ../../header/scss/style.scss */
.promo__part1 {
  text-align: left;
  line-height: 0.35;
  position: relative;
  z-index: 1;
  margin-left: 15px;
}
/* line 70, ../../header/scss/style.scss */
.promo__part2 {
  margin-top: 29px;
  text-align: right;
  line-height: 1.11;
  margin-right: 15px;
}

/* line 79, ../../header/scss/style.scss */
.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* line 86, ../../header/scss/style.scss */
.main-nav__item {
  margin: 0;
  list-style: none;
  margin-right: 45px;
}
/* line 90, ../../header/scss/style.scss */
.main-nav__item:last-child {
  margin-right: 15px;
}
/* line 94, ../../header/scss/style.scss */
.main-nav__link {
  font-family: "Proxima Nova-Regular", Arial, sans-serif;
  color: #9071ea;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.46;
  letter-spacing: 0.7px;
  text-align: left;
}
/* line 105, ../../header/scss/style.scss */
.main-nav__link:hover {
  color: #ffffff;
}

/* line 111, ../../header/scss/style.scss */
.download {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  margin-top: 165px;
}
/* line 116, ../../header/scss/style.scss */
.download__link {
  margin-right: 50px;
}
/* line 118, ../../header/scss/style.scss */
.download__link:last-child {
  margin-right: 0;
}

/* line 124, ../../header/scss/style.scss */
.button-link {
  font-family: "Proxima Nova-Light", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.7px;
  text-align: left;
  color: #ffffff;
  padding: 21px 98px 19px 47px;
  border-radius: 40px;
  background-color: #5e42b0;
  box-shadow: 0px 16px 24px 0 #0a0e34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
/* line 142, ../../header/scss/style.scss */
.button-link:hover {
  color: #0a0e34;
}
/* line 145, ../../header/scss/style.scss */
.button-link__icon {
  width: 38px;
  height: 38px;
  fill: #ffffff;
}
/* line 149, ../../header/scss/style.scss */
.button-link__icon:hover {
  fill: #0a0e34;
}
/* line 153, ../../header/scss/style.scss */
.button-link__wrapper {
  margin-left: 26px;
}
/* line 156, ../../header/scss/style.scss */
.button-link__part1 {
  display: block;
}
/* line 159, ../../header/scss/style.scss */
.button-link__part2 {
  display: block;
  font-family: "Proxima Nova-Bold", Arial, sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 1140px) {
  /* line 167, ../../header/scss/style.scss */
  .row {
    padding-top: 53px;
  }

  /* line 170, ../../header/scss/style.scss */
  .promo {
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 3.2px;
    margin-top: 194px;
  }
  /* line 177, ../../header/scss/style.scss */
  .promo__part1 {
    margin-left: 89px;
    line-height: 0.49;
  }
  /* line 181, ../../header/scss/style.scss */
  .promo__part2 {
    position: relative;
    text-align: left;
    line-height: normal;
    margin-left: 197px;
    margin-right: 0;
    z-index: 1;
  }
  /* line 189, ../../header/scss/style.scss */
  .promo::before {
    position: absolute;
    content: "";
    left: 50%;
    top: -50%;
    z-index: 0;
  }

  /* line 197, ../../header/scss/style.scss */
  .main-nav {
    margin-top: 180px;
  }
  /* line 199, ../../header/scss/style.scss */
  .main-nav__list {
    justify-content: space-around;
  }
  /* line 202, ../../header/scss/style.scss */
  .main-nav__item {
    margin-right: 25px;
    margin-left: 25px;
  }
  /* line 206, ../../header/scss/style.scss */
  .main-nav__link {
    font-size: 16px;
    line-height: 2.16;
    letter-spacing: 0.8px;
  }

  /* line 212, ../../header/scss/style.scss */
  .download {
    margin-top: 115px;
    padding-bottom: 91px;
  }
  /* line 215, ../../header/scss/style.scss */
  .download__link {
    margin-right: 30px;
  }
  /* line 217, ../../header/scss/style.scss */
  .download__link:last-child {
    margin-right: 0;
  }

  /* line 222, ../../header/scss/style.scss */
  .button-link {
    box-shadow: 8px 13.9px 24px 0 #0a0e34;
  }
}
@media screen and (max-width: 767px) {
  /* line 228, ../../header/scss/style.scss */
  .row {
    justify-content: center;
    padding-top: 39px;
  }
  /* line 231, ../../header/scss/style.scss */
  .row__text {
    display: none;
  }

  /* line 235, ../../header/scss/style.scss */
  .promo {
    margin-top: 141px;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
  }
  /* line 241, ../../header/scss/style.scss */
  .promo__part1 {
    margin-left: 10px;
    line-height: 0.98;
    letter-spacing: 1.6px;
  }
  /* line 246, ../../header/scss/style.scss */
  .promo__part2 {
    margin-top: 28px;
    margin-left: 65px;
    margin-right: 0;
    line-height: normal;
    letter-spacing: 1.6px;
  }
  /* line 253, ../../header/scss/style.scss */
  .promo::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 227px;
    left: 50%;
    top: -42%;
    z-index: 0;
  }

  /* line 263, ../../header/scss/style.scss */
  .main-nav {
    margin-top: 45px;
    padding-bottom: 20px;
  }
  /* line 266, ../../header/scss/style.scss */
  .main-nav__list {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  /* line 270, ../../header/scss/style.scss */
  .main-nav__item {
    margin-right: 15px;
    margin-left: 15px;
  }
  /* line 274, ../../header/scss/style.scss */
  .main-nav__link {
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  /* line 282, ../../header/scss/style.scss */
  .download {
    padding-bottom: 0;
    margin-top: 118px;
  }
  /* line 285, ../../header/scss/style.scss */
  .download--footer {
    margin-top: 72px;
  }
  /* line 288, ../../header/scss/style.scss */
  .download__link {
    margin-right: 8px;
  }
  /* line 290, ../../header/scss/style.scss */
  .download__link:last-child {
    margin-right: 0;
  }

  /* line 295, ../../header/scss/style.scss */
  .button-link {
    font-size: 8px;
    line-height: normal;
    letter-spacing: 0.4px;
    padding: 11px 20px 10px 25px;
    border-radius: 24px;
    box-shadow: 0px 10px 16px 0 #0a0e34;
  }
  /* line 302, ../../header/scss/style.scss */
  .button-link__icon {
    font-size: 18px;
  }
  /* line 305, ../../header/scss/style.scss */
  .button-link__wrapper {
    margin-left: 10px;
  }

  /* line 309, ../../header/scss/style.scss */
  .header-wrapper-mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}
/* line 120, ../scss/style.scss */
.contact__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
}
/* line 130, ../scss/style.scss */
.contact__link:hover {
  color: #5e42b0;
}

@media screen and (max-width: 1140px) {
  /* line 139, ../scss/style.scss */
  .footer__promo::before {
    top: 128px;
    left: 50%;
    margin-left: -65px;
  }
  /* line 144, ../scss/style.scss */
  .footer__promo__part1 {
    margin-top: 347px;
    font-size: 80px;
    line-height: 0.75;
    letter-spacing: 4.4px;
  }
  /* line 150, ../scss/style.scss */
  .footer__promo__part2 {
    font-size: 36px;
    line-height: 1.67;
    letter-spacing: normal;
  }

  /* line 157, ../scss/style.scss */
  .footer-row_wrapper {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
  }

  /* line 162, ../scss/style.scss */
  .social {
    padding-top: 36px;
    padding-bottom: 34px;
  }

  /* line 166, ../scss/style.scss */
  .logo {
    display: none;
  }

  /* line 169, ../scss/style.scss */
  .contact {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 177, ../scss/style.scss */
  .footer__promo::before {
    top: 97px;
    left: 50%;
    margin-left: -36.5px;
    width: 73px;
    height: 78px;
    background-image: url(../../img/artwork_73x78.png);
    background-size: 73px 78px;
  }
  /* line 186, ../scss/style.scss */
  .footer__promo__part1 {
    margin-top: 237px;
    font-size: 34px;
    line-height: normal;
    letter-spacing: 1.7px;
  }
  /* line 191, ../scss/style.scss */
  .footer__promo__part1::before {
    content: "";
    top: -30%;
    left: 10%;
    width: 4px;
    height: 100px;
    transform: rotate(35deg);
  }
  /* line 199, ../scss/style.scss */
  .footer__promo__part1::after {
    content: "";
    position: absolute;
    display: block;
    top: -170%;
    left: 64%;
    width: 4px;
    height: 200px;
    transform: rotate(35deg);
  }
  /* line 210, ../scss/style.scss */
  .footer__promo__part2 {
    font-size: 15px;
    line-height: 0.8;
    letter-spacing: normal;
  }

  /* line 217, ../scss/style.scss */
  .footer-row_wrapper {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
  }

  /* line 222, ../scss/style.scss */
  .social {
    padding-top: 19px;
    padding-bottom: 14px;
  }
  /* line 225, ../scss/style.scss */
  .social__logo {
    width: 17px;
    height: 17px;
  }

  /* line 230, ../scss/style.scss */
  .logo {
    display: none;
  }

  /* line 233, ../scss/style.scss */
  .contact {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
